<!-- @if(isServerAvailable){
    @if(isLoggedIn){
        @if(userRole === "student"){
            <app-student
                [userID]="userID"
                [userName]="userName"
                [userPapers]="userPapers"
            ></app-student>
        }
        @else if (userRole === "officer") {
            <app-officer></app-officer>
        }
    }
    @else {
        <router-outlet></router-outlet>
    }
}
@else {
    <div class="flex w-fit m-auto">
        <h1 class="text-3xl">Waiting for the server to respond...</h1>
    </div>
} -->

<app-officer></app-officer>