<header class="flex align-middle bg-gradient-to-r from-green-700 to-green-500">
    <div class="flex ml-1">
        <div class="size-16 flex">
            <img src="bkicon.png" alt="Bach Khoa icon" class="object-cover">
        </div>
        <div class="self-center *:text-white">
            <p class="text-xs font-bold font-[Arial]">Ho Chi Minh city University of Technology</p>
            <p class="text-sm">Student Smart Printing Service</p>
        </div>
    </div>
</header>
<aside class="-ml-[12.4rem] duration-300 hover:ml-0 flex w-fit h-full">
    <div class="pb-3 pl-6 pr-6 pt-4 flex bg-white flex-col shadow-lg text-green-700 justify-start">
        <div class="font-bold border-b-2 border-slate-300 mb-3 pb-3">Managing list</div>
        <div class="*:my-2">
            <div>Options</div>
            <div>Printers</div>
            <div>Types</div>
            <div>System configuration</div>
            <div>View log</div>
            <div>View report</div>
        </div>
    </div>
    <div class="flex rounded-e-full bg-green-400 size-10 justify-center items-center opacity-35">
        <img src="options-lines.png" alt="Option lines icon" class="size-6 mr-1">
    </div>
</aside>