<div class="relative z-40"id="header">
    <div class=" h-fit flex items-center bg-gradient-to-r from-blue-800 to-blue-600  text-white font-medium">
      <div class="space-x-2 max-w-fit flex items-center ">
        <img class="size-[5%]" src="bkicon.png" alt="BK icon">
        <div>
          <p class="text-xs font-bold font-[Arial]">Ho Chi Minh city University of Technology</p>
          <p class="text-sm">Student Smart Printing Service</p>
        </div>
      </div>
      <div id="tags" class="flex flex-row justify-end items-center *:m-4 *:text-sm *:whitespace-nowrap *:hover:cursor-pointer ">
        <div (click)="changeCurrentTag('home')" class="" id="home">Home</div>
        <div (click)="changeCurrentTag('print')" class="" id="print">Print</div>
        <div (click)="changeCurrentTag('buy')" class="" id="buy">Buy</div>
        <div (click)="changeCurrentTag('history')" class="" id="buy">History</div>
        <div  (click)="changeCurrentTag('about-us')" class="" id="about-us">About Us</div>
          <div class="space-x-2 flex items-center mr-1" id="user">
            <img (click)="toggleDropDown()" class="size-5 max-h-none max-w-none hover:cursor-pointer" src="drop_down.png" alt="Drop down arrow">
            <div id="user-drop-down" [class.hidden] = " !visibleDropDown" class="flex flex-col absolute max-w-fit top-full left-auto right-2 *:shadow-lg">
              <div class="duration-0 hover:duration-100 hover:bg-slate-200 bg-white flex p-3 items-center space-x-2 rounded-t-xl">
                <img class="size-10 max-h-none max-w-none" [src]="avatarSrc" alt="Avatar">
                <div>
                  <p class="text-black">{{userName}}</p>
                  <p class="text-black">{{userID}}</p>
                </div>
              </div>
              <div class="text-black font-normal duration-0 hover:duration-100 hover:bg-slate-200 bg-white flex p-3 items-center">Papers: {{userPapers}}</div>
              <div (click)="toggleDropDown()" (click)="signOut()" class="text-black duration-0 hover:duration-100 hover:bg-slate-200 hover:underline hover:cursor-pointer bg-white flex p-3 items-center rounded-b-xl">Sign out</div>
            </div>
          </div>
      </div>
    </div>
  </div>
  @switch (currentTag) {
    @case ("home") {
      <app-home></app-home>
    }
    @case ("print") {
      <app-print [userID]="userID" [(userPapers)]="userPapers" ></app-print>
    }
    @case ('buy'){
      <app-buy></app-buy>
    }
    @case ('about-us') {
      <app-about-us></app-about-us>
    }
    @case ('history') {
      <app-history [userID]="userID"></app-history>
    }
  }
